// willyp's atom stylesheet 

atom-text-editor .cursor {
  border-color: darkorchid;
}

.tab-bar .tab .close-icon {
  background-color: darkorchid;
}

.tab-bar .tab .close-icon:hover {
  background-color: darkorchid;
}

.tab-bar .tab.modified:not(:hover) .close-icon {
  color: darkorchid;
  background-color: inherit;
}

atom-pane.active .tab.active:before {
  background: darkorchid;
}

